<h3>Component</h3>
@using BlazorControlWork.Data;

<h1>Units</h1>

@if (units == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Hero</th>
                <th>Lvl</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in units)
            {
                <tr>
                    <td>@forecast.Name</td>
                    <td>@forecast.Hero</td>
                    <td>@forecast.lvl</td>
                    <td><button class="btn btn-warning" @onclick="() => units.Remove(forecast)">Delete</button></td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    [Parameter]
    public List<Unit>? units { get; set; }
}
