@page "/"
@inject NavigationManager manager
@using BlazorControlWork.Pages
@inject UserService userSer
<h3>Вход в аккаунт</h3>
<p><input @bind-value="Login" type="text" placeholder="Введите логин" /> </p>
<p><input @bind-value="Password"type="password" placeholder="Введите пароль" /></p>
@if (ErrorEntrance)
{
  <br><div class="alert alert-danger" role="alert">Неправильный логин или пароль</div>
}
<p>
    <button type="button" name="BtnVhod" @onclick="Autorization">Войти</button>
    <button type="button" name="BtnReg" onclick="location.href = '/Registration'" >Регистрация</button>
</p>

@code {
    private string? Login;
    private string? Password;
    bool ErrorEntrance = false;
    private void Autorization()
    {
        var userse = UserService.FindAll();
        foreach (var user in userse)
        {
            if (Login == user.Login && Password == user.Password)
            {
                userSer.SetUser(user);
                manager.NavigateTo("/menu");
            }
            else
            {
                ErrorEntrance = true;
            }
        }
    }
}
